@model Looey.Models.TestModel
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="jumbotron"><p>Some random text</p></div>

<input name="files" id="files" type="file" />

<script>
    $('#files').kendoUpload();
</script>

